<!DOCTYPE html>
<html lang="FR">
	<div th:replace="fragments/head.html :: head"></div>
	<body>
		<div th:replace="fragments/header.html :: header"></div>
        <main class="container">
            <h2>Gestion des<span class="yellow-gf">matériaux</span></h2>
            <section>
                <form th:action="@{/materials}" method="POST">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="name">Nom</label>
                        </div>
                        <input 
                            type="text"
                            class="form-control"
                            placeholder="Entrez une donnée ..."
                            name="name"
                        >
                    </div>
                    <button type="submit" class="btn btn-info">Créer</button>
                </form>
            </section>
            <section class="section-list">
                <h3>Liste des matériaux créés :</h3>
                <ul class="list-group" th:each="material : ${materials}">
                    <li class="list-group-item" th:text="${material.name}">Item</li>
                </ul>
            </section>
        </main>
		<div th:replace="fragments/footer.html :: footer"></div>
		<div th:replace="fragments/script.html :: script"></div>
    </body>
</html>