<!DOCTYPE html>
<html lang="FR">
	<div th:replace="fragments/head.html :: head"></div>
	<body>
		<div th:replace="fragments/header.html :: header"></div>
        <main class="container home-container">
            <h2>
                Gestion des
                <br>
                <span class="yellow-gf">catégories</span>
            </h2>

            <section class="section-create-categories">
                <h3>Créer une catégorie</h3>
                <form th:action="@{/categories}" method="POST">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputCategory">Catégorie</label>
                        </div>
                        <input 
                            type="text"
                            class="form-control"
                            placeholder="..."
                            aria-label="name" 
                            aria-describedby="inputCategory"
                            name="name"
                        >
                    </div>
                    <button type="submit" class="btn btn-info">Créer</button>
                </form>
            </section>
            <section class="section-list">
                <h3>Liste des catégories créées :</h3>
                <ul class="list-group" th:each="category : ${categories}">
                    <li class="list-group-item" th:text="${category.name}">Nom de la catégorie</li>
                </ul>
            </section>
        </main>
		<div th:replace="fragments/footer.html :: footer"></div>
		<div th:replace="fragments/script.html :: script"></div>
    </body>
</html>