<!DOCTYPE html>
<html lang="FR">
	<div th:replace="fragments/head.html :: head"></div>
	<body>
		<div th:replace="fragments/header.html :: header"></div>
		<main class="container">
			<h2>Bienvenue<span class="yellow-gf">Matthieu</span></h2>
			<section class="admin-control">
				<p>
					Ici, vous avez accès aux différentes pages permettant la création, la
					modification, la suppression et la lecture des différents éléments
					nécessaires au bon fonctionnement de l'application.
				</p>
				<a href="/categories">
					<button type="button" class="btn btn-outline-info">Catégories</button>
				</a>
				<a href="/typologies">
					<button type="button" class="btn btn-outline-info">Typologies</button>
				</a>
				<a href="/users">
					<button type="button" class="btn btn-outline-info">
						Utilisateurs
					</button>
				</a>
				<a href="/materials">
					<button type="button" class="btn btn-outline-info">Matériaux</button>
				</a>
				<a href="/works">
					<button type="button" class="btn btn-outline-info">Travail</button>
				</a>
				<a href="/tasks">
					<button type="button" class="btn btn-outline-info">Tâches</button>
				</a>
			</section>
		</main>
		<div th:replace="fragments/footer.html :: footer"></div>
		<div th:replace="fragments/script.html :: script"></div>
	</body>
</html>
