<!DOCTYPE html>
<html lang="FR">
<div th:replace="fragments/head.html :: head"></div>

<body>
    <div th:replace="fragments/header.html :: header"></div>
    <main class="container">
        <h2>Gestion des<span class="yellow-gf">taches</span></h2>
        <section>
            <form th:action="@{/tasks}" method="POST">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="workId">Travail</label>
                    </div>
                    <select name="workId" id="">
                        <option value="" disabled selected>Sélectionner un travail</option>
                        <option th:each="work : ${works}" th:text="${work.name}"
                            th:value="${work.id}"></option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="workId">Matériel</label>
                    </div>
                    <select name="materialId" id="">
                        <option value="" disabled selected>Sélectionner un matériel</option>
                        <option th:each="material : ${materials}" th:text="${material.name}"
                            th:value="${material.id}"></option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="price">Prix</label>
                    </div>
                    <input type="text" placeholder="Prix" th:name="price"></input>
                    <input type="radio" th:name="unit" value="en m²">en m²</input>
                    <input type="radio" th:name="unit" value="l'unité">par unité</input>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="percentRange">Fourchette de prix</label>
                    </div>
                    <input type="range" th:name="percentRange" min="0"  max="100" step="0.01" value="0" oninput="result.value=percentRange.value">
                    <output name="result">0</output>%/100%</input>
                </div>
                <button type="submit" class="btn btn-info">Créer</button>
            </form>
        </section>
        <section class="section-list">
            <h3>Liste des actions créées :</h3>
            <ul class="list-group" th:each="task : ${tasks}">
                <li class="list-group-item" th:text="${task.id}">Item</li>
            </ul>
        </section>
    </main>
    <div th:replace="fragments/footer.html :: footer"></div>
    <div th:replace="fragments/script.html :: script"></div>
</body>
</html>