<!DOCTYPE html>
<html lang="FR">
<div th:replace="fragments/head.html :: head"></div>

<body>
    <div th:replace="fragments/header.html :: header"></div>
    <main class="container">
        <h2>Gestion des<span class="yellow-gf">taches</span></h2>
        <section>
            <form th:action="@{/tasks}" method="POST">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                    </div>

                    <select name="materialId" id="">
                        <option value="" disabled selected>Sélectionner un matériel</option>
                        <option th:each="material : ${materials}" th:text="${material.name}"
                            th:value="${material.id}"></option>
                    </select>
                        <input type="checkbox" th:each="work : ${works}" name="workId" th:text="${work.name}"
                        th:value="${work.id}"></option>
                </div>
                <button type="submit" class="btn btn-info">Créer</button>
            </form>
        </section>
        <section class="section-list">
            <h3>Liste des actions créées :</h3>
            <ul class="list-group" th:each="task : ${tasks}">
                <li class="list-group-item" th:text="${task.id}">Item</li>
            </ul>
        </section>
    </main>
    <div th:replace="fragments/footer.html :: footer"></div>
    <div th:replace="fragments/script.html :: script"></div>
</body>

</html>