<!DOCTYPE html>
<html lang="FR">
    <body>
        <footer class="p-4 d-flex align-items-center justify-content-around">
            <section class="footer-link d-flex align-items-center">
                <a
                    href="https://www.goodfather.fr/contact/"
                    class="btn btn-outline-light"
                >
                    Contacter
                </a>
                <a
                    href="https://www.goodfather.fr/mentions-legales-calculette/"
                    class="btn btn-outline-light"
                >
                    Mentions Légales
                </a>
                <a
                    href="https://www.goodfather.fr/cgv-calculette/"
                    class="btn btn-outline-light"
                >
                    Conditions Générales de Vente
                </a>
            </section>
            <section class="footer-social d-flex justify-content-around">
                <a href="https://www.facebook.com/goodfathersas/">
                    <ion-icon name="logo-facebook"></ion-icon>
                </a>
                <a
                    href="https://www.youtube.com/channel/UC7gZDC9XK9xHgOisSrKbqlA/?sub_confirmation=1"
                >
                    <ion-icon name="logo-youtube"></ion-icon>
                </a>
                <a href="https://www.instagram.com/goodfather_sas/">
                    <ion-icon name="logo-instagram"></ion-icon>
                </a>
            </section>
        </footer>
    </body>
</html>
