<!DOCTYPE html>
<html lang="FR">
	<body>
		<footer>
			<button type="button" class="btn btn-outline-light">Contacter</button>
			<section class="footer-social">
				<a href="https://www.facebook.com/goodfathersas/">
					<ion-icon name="logo-facebook"></ion-icon>
				</a>
				<a
					href="https://www.youtube.com/channel/UC7gZDC9XK9xHgOisSrKbqlA/?sub_confirmation=1"
				>
					<ion-icon name="logo-youtube"></ion-icon>
				</a>
				<a href="https://www.instagram.com/goodfather_sas/">
					<ion-icon name="logo-instagram"></ion-icon>
				</a>
			</section>
		</footer>
	</body>
</html>
