<!DOCTYPE html>
<html lang="FR">
    <body>
        <nav
            class="navbar navbar-expand-lg navbar-dark bg-vert-gf sticky-top"
            id="navbar"
        >
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

            <h1 class="font-weight-bold">J’estime mes travaux</h1>

            <div class="group-icon-navbar">
                <a href="/home">
                    <ion-icon name="home"></ion-icon>
                </a>
                <a href="/profile">
                    <ion-icon name="person"></ion-icon>
                </a>
            </div>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">
                            Accueil
                        </a>
                    </li>
                    <li class="nav-item" sec:authorize="!isAnonymous()">
                        <a class="nav-link" href="/help">
                            Aide
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.goodfather.fr">
                            GoodFather
                        </a>
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link"
                            href="https://www.goodfather.fr/contact/"
                        >
                            Contacter
                        </a>
                    </li>
                    <li class="nav-item" sec:authorize="!isAnonymous()">
                        <a class="nav-link" href="/logout">
                            Se déconnecter
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </body>
</html>
