<!DOCTYPE html>
<html lang="FR">
    <body>
        <nav class="navbar bg-vert-gf navbar-dark sticky-top" id="navbar">
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <h1 class="font-weight-bold">J’estime mes travaux</h1>
            <div class="group-icon-navbar">
                <a href="/home">
                    <ion-icon name="home"></ion-icon>
                </a>
                <a href="/profile">
                    <ion-icon name="person"></ion-icon>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/help">Aide</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.goodfather.fr">
                            GoodFather
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Se déconnecter</a>
                    </li>
                </ul>
            </div>
        </nav>
    </body>
</html>