/* ------------- CHARTE GRAPHIQUE ------------- */

.bg-vert-gf,
.btn-info,
.btn-outline-info:hover {
    background-color: #328080;
}

.bg-yellow-gf {
    background-color: #ffcc00;
}

.vert-gf,
.btn-outline-info {
    color: #328080;
}

.yellow-gf {
    color: #ffcc00;
}

/* ------------- CONFIGURATION GÉNÉRALE ------------- */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    color: #333333;
    line-height: 1.5em;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
}

.gf-logo {
    max-width: 50%;
}

.jumbotron {
    background-color: whitesmoke;
}

.read-project {
    min-width: 130px;
}

.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container {
    margin: auto;
    padding: 2vh 0;
    width: 80%;
}

.container h2 {
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    flex-direction: column;
}

.container form {
    background-color: whitesmoke;
    padding: 3vh;
    margin: auto auto 2vh auto;
}

@media screen and (max-width: 992px) {
    .container {
        width: 90%;
    }
}

.modal-dialog form {
    background-color: white;
}

input[type="number"] {
    -webkit-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input:disabled {
    color: #333333;
}

.item-global {
    display: flex;
    margin-bottom: 1vh;
    align-items: center;
}

.item-global form {
    background-color: transparent;
    margin: 0;
    padding: 0;
}

.item-global .btn {
    display: flex;
    margin-left: 1vh;
    width: 50px;
}

.update-form {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.update-form input,
.user-list {
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 5px 5px 0 0;
    width: 100%;
    background-color: white;
}

@media screen and (max-width: 415px) {
    .update-form input {
        font-size: 9pt;
        max-width: 75%;
    }

    .item-global .btn {
        width: 40px;
        height: 40px;
    }
}

.project-attribute {
    width: calc(80% / 2);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-list {
    min-height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.8em;
}

.check-role {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px 5px 0 0;
    margin-bottom: 3vh;
    padding-bottom: 2.5vh;
}

.check-role p {
    background-color: #e9ecef;
    color: #495057;
    font-size: 0.9rem;
    border-bottom: 1px solid #ced4da;
    padding: 2vh;
}

.check-role .item-check {
    display: flex;
    width: 100%;
    height: 50px;
}

.check-role label {
    margin: auto auto auto 2vh;
    width: 50%;
}

.check-role input[type="radio"] {
    height: 30px;
    width: 30px;
    margin: auto 0 auto auto;
}

@media screen and (min-width: 700px) {
    .check-role label {
        width: 15%;
    }
}

.form-control {
    height: auto;
    text-align: center;
}

.accordion > .card .card-header {
    margin: 0;
}

.accordion > .card {
    border: none;
}

.card-header {
    margin: 0;
    padding: 0;
    border: none;
    background-color: white;
}

.card-body {
    background-color: whitesmoke;
    border: 1px solid #ced4da;
    border-top: none;
}

.btn-room {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-room ion-icon {
    width: 50px;
    height: 50px;
}

.btn-info {
    border: none;
}

.btn-outline-info {
    border-color: #328080;
}

/* ------------- ERROR ------------- */

.error {
    color: white;
}

.error-title {
    font-size: 70pt;
    transform: rotate(5deg);
}

/* ------------- FOOTER ------------- */

footer {
    width: 100%;
    padding: 4vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333333;
}

footer .footer-social {
    display: flex;
    justify-content: space-around;
    width: 20%;
}

footer .footer-link {
    display: flex;
    align-items: center;
}

footer .footer-link a {
    margin-left: 1vh;
}

@media screen and (max-width: 420px) {
    .footer-link {
        display: flex;
        flex-direction: column;
    }
    .footer-link a {
        margin-bottom: 1vh;
        width: 100%;
    }
    footer .footer-social {
        flex-direction: column;
        height: 80%;
    }

    footer .footer-link {
        width: 50%;
    }
}

ion-icon {
    height: 30px;
    width: 30px;
    color: white;
}

ion-icon:hover {
    color: #ffcc00;
    transition: 0.5s;
}

.icon-delete {
    color: white;
}

/* ------------- Header ------------- */

.navbar {
    width: 100vw;
    text-align: left;
}

.navbar ul {
    padding: 5vh 0;
    width: 90%;
    margin: auto;
}

.navbar ul li {
    padding: 1vh 2vh;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.navbar ul li:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.navbar h1 {
    color: white;
    font-size: 10pt;
    font-weight: lighter;
    margin: 0;
}

.navbar-dark .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.8);
}

/* ------------- PAGE CATEGORIES ------------- */

.group-image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.group-image .image {
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    text-decoration: none;
    width: 100%;
    width: 200px;
}

.group-image .image:hover p {
    background-color: #328080;
    color: white;
    transition: 0.5s;
}

.group-image .image p {
    width: 90%;
    margin: auto auto 1.5em auto;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0.5em;
    padding: 0.5em;
    text-transform: uppercase;
}

@media screen and (max-width: 1200px) {
    .group-image {
        flex-direction: column;
    }

    .group-image .image {
        width: 100%;
        height: 200px;
        margin-bottom: 3vh;
    }
}

.salle-de-bain {
    background-image: url("../IMG/sdb.jpg");
}

.couloir {
    background-image: url("../IMG/couloir.jpg");
}

.salon-sjour {
    background-image: url("../IMG/salonsejour.jpg");
}

.chambre {
    background-image: url("../IMG/chambre.jpg");
}

.cuisine {
    background-image: url("../IMG/cuisine.jpg");
}

/* ------------- ADMIN ------------- */

.admin-control {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.admin-control a {
    margin-bottom: 2vh;
    width: 100%;
}

.admin-control .btn {
    width: 100%;
    padding: 2vh 0;
}

.btn-accordeon {
    width: 100%;
    border-radius: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    letter-spacing: 4px;
}

.form-control-range {
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
}

.form-control-range::-webkit-slider-thumb,
.form-control-range::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #328080;
    cursor: pointer;
    border: none;
}

.btn-section {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 2vh;
}

.btn-section button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-list {
    display: flex;
    flex-direction: column;
}

/* ------------- RECAP ROOM ------------- */

.action-recap-project-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.25rem;
    height: 10vh;
}

.action-recap-project-container .d-flex {
    width: calc(75vw / 4);
    height: 100%;
    margin: 0;
}

@media screen and (max-width: 800px) {
    .action-recap-project-container {
        flex-direction: column;
        height: auto;
    }

    .action-recap-project-container .d-flex {
        width: 100%;
        margin-bottom: 0.8vh;
    }
}

.quantity-selector-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.25rem;
    height: auto;
}

.quantity-selector-container .d-flex {
    width: calc(75vw / 5);
    height: auto;
    margin-bottom: 0.8vh;
}

@media screen and (min-width: 800px) {
    .quantity-selector-container {
        height: 10vh;
    }
    .quantity-selector-container .d-flex {
        height: 100%;
    }
}

.form-control:disabled,
.form-control[readonly] {
    background-color: transparent;
}

/* ------------- HELP ------------- */

.help p {
    margin: 0;
    letter-spacing: 1px;
    margin: auto;
    text-align: justify;
}

.help a {
    background-color: #ffcc00;
    font-weight: bold;
    padding: 4px;
    color: white;
    transition: 0.5s;
}

.help a:hover {
    background-color: #328080;
    text-decoration: none;
}

.help .card-body {
    background-color: whitesmoke;
    border: none;
}

.logo-help-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo-help-container p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 2vh;
    width: calc(80vw / 6);
}

.help-logo ion-icon {
    color: #328080;
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 800px) {
    .logo-help-container {
        flex-wrap: wrap;
    }

    .logo-help-container p {
        width: calc(80vw / 2);
    }
}
