<!doctype html>
<html lang="FR">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link 
            rel="stylesheet" 
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        >
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap" rel="stylesheet">         
        <link rel="stylesheet" href="../CSS/style.css">

        <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>

        <title>GoodFather</title>
    </head>
    <body>
        <img src="../IMG/logo.png" alt="Goodfather" class="gf-logo">
        
        <header class="sticky-top">
            <nav class="navbar bg-vert-gf navbar-dark">
                <button 
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <h1>GoodFather calculette</h1>
                <a href="#">
                    <ion-icon name="person"></ion-icon>
                </a>

                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Aide</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.goodfather.fr">GoodFather</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <main class="container home-container">
            <h2>
                Gestion des
                <br>
                <span class="yellow-gf">catégories</span>
            </h2>

            <section class="section-create-categories">
                <h3>Créer une catégorie</h3>
                <form action="/categories" method="POST">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputCategory">Catégorie</label>
                        </div>
                        <input 
                            type="text"
                            class="form-control"
                            placeholder="..."
                            aria-label="name" 
                            aria-describedby="inputCategory"
                            name="name"
                        >
                    </div>
                    <button type="submit" class="btn btn-info">Créer</button>
                </form>
            </section>
            <section class="section-list">
                <h3>Liste des catégories créées :</h3>
                <ul class="list-group" th:each="category : ${categories}">
                    <li class="list-group-item" th:text="${category.name}">Nom de la catégorie</li>
                </ul>
            </section>
        </main>

        <footer>
            <button type="button" class="btn btn-outline-light">Contacter</button>
            <section class="footer-social">
                <a href="https://www.facebook.com/goodfathersas/">
                    <ion-icon name="logo-facebook"></ion-icon>
                </a>
                <a href="https://www.youtube.com/channel/UC7gZDC9XK9xHgOisSrKbqlA/?sub_confirmation=1">
                    <ion-icon name="logo-youtube"></ion-icon>
                </a>
                <a href="https://www.instagram.com/goodfather_sas/">
                    <ion-icon name="logo-instagram"></ion-icon>
                </a>
            </section>
        </footer>

    <script 
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous">
    </script>
    <script 
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous">
    </script>
    <script 
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous">
    </script>

    </body>
</html>