<!DOCTYPE html>
<html lang="FR">
	<div th:replace="fragments/head.html :: head"></div>
	<body>
		<div th:replace="fragments/header.html :: header"></div>
        <main class="container categories-container">

            <h2>
                Selectionner
                <br>
                <span class="yellow-gf">votre pièce</span>
            </h2>

            <div class="group-image">
                <div 
                    th:each="category : ${categories}" 
                    th:classappend="|${category.name.toLowerCase()
                        .replaceAll(&quot;[^a-z0-9 ]&quot;, &quot;&quot;)
                        .replaceAll(&quot; &quot;,&quot;-&quot;)} image|"
                >
                    <p th:text="${category.name}">Nom de la catégorie</p>
                </div>
            </div>

        </main>
		<div th:replace="fragments/footer.html :: footer"></div>
		<div th:replace="fragments/script.html :: script"></div>
    </body>
</html>