<!DOCTYPE html>
<html lang="FR">
    <div th:replace="fragments/head.html :: head"></div>
    <body class="bg-vert-gf">
        <main class="container error">
            <h1 class="yellow-gf mb-4 error-title">Oups !</h1>
            <p>
                L'action que vous venez de faire n'est pas autorisée ou n'est pas
                possible.
            </p>
            <a class="btn btn-outline-light" value="Retour!"  onclick="history.back()">
                Revenir à la page précédente
            </a>
            <a th:href="@{/home}" class="btn btn-outline-light">Revenir à l'accueil</a>
        </main>
    </body>
</html>
