<!doctype html>
<html lang="FR">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link 
            rel="stylesheet" 
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        >
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap" rel="stylesheet">         
        <link rel="stylesheet" href="../CSS/style.css">

        <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>

        <title>GoodFather</title>
    </head>
    <body>
        <img src="../IMG/logo.png" alt="Goodfather" class="gf-logo">
        
        <header class="sticky-top">
            <nav class="navbar bg-vert-gf navbar-dark">
                <button 
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <h1>GoodFather calculette</h1>
                <a href="#">
                    <ion-icon name="person"></ion-icon>
                </a>

                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Aide</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.goodfather.fr">GoodFather</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <main class="container home-container">
            <h2>
                Investir avec
                <br>
                <span class="yellow-gf">GoodFather</span>
            </h2>
            <section>
                <p>
                    Nous sommes heureux de vous accueillir sur notre site !
                    Notre passion pour l’immobilier et l’architecture nous ont conduit à créer notre métier 
                    d’accompagnateurs à l’investissement locatif !
                </p>

                <p>
                    Quel que soit votre niveau d’expérience, nous vous aidons à passer la prochaine marche 
                    et vous formons avec toute notre expertise combinée pour sécuriser votre prochaine acquisition !
                </p>
            </section>
            <button 
                type="button"
                class="btn btn-outline-warning"
                data-toggle="modal"
                data-target="#connectionModal"
            >
                Se connecter
            </button>
                  
            <section
                class="modal fade"
                id="connectionModal"
                tabindex="-1"
                role="dialog"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
            >
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Se connecter</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="inputHomeMail">Mail</label>
                                    </div>                        
                                    <input
                                        type="email"
                                        class="form-control"
                                        id="inputHomeMail"
                                        placeholder="..."
                                    >
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="inputHomeMail">Mot de passe</label>
                                    </div>                        
                                    <input
                                    type="password"
                                    class="form-control"
                                    id="inputHomeMail"
                                    placeholder="..."
                                    >
                                </div>
                                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Annuler</button>
                                <button type="button" class="btn btn-outline-info">Valider</button>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer>
            <button type="button" class="btn btn-outline-light">Contacter</button>
            <section class="footer-social">
                <a href="https://www.facebook.com/goodfathersas/">
                    <ion-icon name="logo-facebook"></ion-icon>
                </a>
                <a href="https://www.youtube.com/channel/UC7gZDC9XK9xHgOisSrKbqlA/?sub_confirmation=1">
                    <ion-icon name="logo-youtube"></ion-icon>
                </a>
                <a href="https://www.instagram.com/goodfather_sas/">
                    <ion-icon name="logo-instagram"></ion-icon>
                </a>
            </section>
           
        </footer>

    <script 
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous">
    </script>
    <script 
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous">
    </script>
    <script 
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous">
    </script>

    </body>
</html>