<!DOCTYPE html>
<html lang="FR">
    <div th:replace="fragments/head.html :: head"></div>
    <body>
        <div th:replace="fragments/header.html :: header"></div>
		<div th:replace="fragments/nav.html :: nav"></div>
		<main class="container">
			<h2 class="jumbotron mb-3">Investir avec<span class="yellow-gf">GoodFather</span></h2>
			<section>
				<p>
					Nous sommes heureux de vous accueillir sur notre site ! Notre passion
					pour l’immobilier et l’architecture nous ont conduit à créer notre
					métier d’accompagnateurs à l’investissement locatif !
				</p>

				<p>
					Quel que soit votre niveau d’expérience, nous vous aidons à passer la
					prochaine marche et vous formons avec toute notre expertise combinée
					pour sécuriser votre prochaine acquisition !
				</p>
			</section>
			<div sec:authorize="!isAuthenticated()">
					<button 
				type="button"
				class="btn btn-outline-warning"
				data-toggle="modal"
				data-target="#loginModal"
			>
				Se connecter
			</button>
			</div>
			<section
				class="modal fade"
				id="loginModal"
				tabindex="-1"
				role="dialog"
				aria-labelledby="exampleModalLabel"
				aria-hidden="true"
			>
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<header class="modal-header">
							<h5 class="modal-title">Connexion</h5>
							<button
								type="button"
								class="close"
								data-dismiss="modal"
								aria-label="Close"
							>
								<span aria-hidden="true">&times;</span>
							</button>
						</header>
						<form
							name="form "
							action="/login"
							method="POST"
							class="form-group modal-body"
						>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="user_mail">Mail :</span>
								</div>
								<input
									type="text"
									class="form-control"
									aria-label="user_mail"
									aria-describedby="user_mail"
									name="username"
                                    required
								/>
							</div>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="user_mdp">Mot de passe :</span>
								</div>
								<input
									type="password"
									class="form-control"
									aria-label="user_mdp"
									aria-describedby="user_mdp"
									name="password"
                                    required
								/>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-outline-danger" data-dismiss="modal">
									Annuler
								</button>
								<button type="submit" class="btn btn-outline-info">
									Valider
								</button>
							</div>
						</form>
					</div>
				</div>
			</section>
		</main>
		<div th:replace="fragments/footer.html :: footer"></div>
		<div th:replace="fragments/script.html :: script"></div>
	</body>
</html>
