<!DOCTYPE html>
<html lang="FR">
    <div th:replace="fragments/head.html :: head"></div>

    <body>
        <div th:replace="fragments/header.html :: header"></div>
        <div th:replace="fragments/nav.html :: nav"></div>

        <main class="container">
            <h2 class="jumbotron mb-3">Modifier votre <span class="yellow-gf">mot de passe</span></h2>

            <div th:replace="fragments/alert.html :: alert"></div>

            <form th:action="@{/pass}" th:method="PUT" th:object="${user}" class="rounded">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="password">
                            Mot de passe actuelle
                        </label>
                    </div>
                    <input type="password" class="form-control" name="psw" required/>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="password">
                            Nouveau mot de passe
                        </label>
                    </div>
                    <input
                        type="password"
                        class="form-control"
                        id="password"
                        name="newpsw"
                        required
                    />
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="password">
                            Retaper votre nouveau mot de passe
                        </label>
                    </div>
                    <input
                        type="password"
                        class="form-control"
                        id="password"
                        name="repeatpsw"
                        required
                    />
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <input
                                type="checkbox"
                                aria-label="Checkbox for following text input"
                                id="show-password"
                                onchange="showAndHidePassword()"
                            />
                        </div>
                    </div>
                    <input
                        type="text"
                        class="form-control"
                        aria-label="Text input with checkbox"
                        value="Afficher le mot de passe"
                        disabled
                    />
                </div>
                <button type="submit" class="btn btn-info">Modifier</button>
                <a href="/profile" type="button" class="btn btn-outline-info">Revenir à votre profil</a>
            </form>
        </main>
        <div th:replace="fragments/footer.html :: footer"></div>
        <div th:replace="fragments/script.html :: script"></div>
    </body>
</html>
