<!DOCTYPE html>
<html lang="FR">
<div th:replace="fragments/head.html :: head"></div>

<body>
    <div th:replace="fragments/header.html :: header"></div>
    <div th:replace="fragments/nav.html :: nav"></div>
    <main class="container">
        <h2>
            Profil de
            <span class="yellow-gf" th:text="${user.firstName} + ' ' + ${user.lastName}">
                    catégories
                </span>
        </h2>
        <div th:replace="fragments/alert.html :: alert"></div>
        <section>
            <form th:action="@{/profile/}" th:method="PUT" th:object="${user}">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="firstName">
								Prénom
							</label>
                    </div>
                    <input type="text" class="form-control" th:name="firstName" th:value="*{firstName}" />
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="lastName">
								Nom
							</label>
                    </div>
                    <input type="text" class="form-control" th:name="lastName" th:value="*{lastName}" />
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="email">
								Mail
							</label>
                    </div>
                    <input type="email" class="form-control" th:name="email" th:value="*{email}" />
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="phoneNumber">
								Téléphone
							</label>
                    </div>
                    <input type="tel" class="form-control" th:name="phoneNumber" th:value="*{phoneNumber}" />
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="address">
								Adresse
							</label>
                    </div>
                    <input type="text" class="form-control" name="address" th:value="*{address}" />
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="city">
								City
							</label>
                    </div>
                    <input type="text" class="form-control" name="city" th:value="*{city}" />
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="postalCode">
								Code postal
							</label>
                    </div>
                    <input type="text" class="form-control" name="postalCode" th:value="*{postalCode}" />
                </div>
                <button type="submit" class="btn btn-info">Modifier vos informations</button>
            </form>
            <a href="/password"><button type="submit" class="btn btn-info">Modifier votre mot de passe</button></a>
        </section>
    </main>
    <div th:replace="fragments/footer.html :: footer"></div>
    <div th:replace="fragments/script.html :: script"></div>
</body>

</html>