<!DOCTYPE html>
<html lang="FR">
	<div th:replace="fragments/head.html :: head"></div>
	<body>
		<div th:replace="fragments/header.html :: header"></div>
        <main class="container profil-container">
            <h2>
                Bienvenue
                <br>
                <span class="yellow-gf">Nom utilisateur</span>
            </h2>

            <section>
                <form th:action="@{/projects}" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" id="inputNomProjet" name="name" placeholder="Entrez le nom du projet">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="inputAdresse" name="address" placeholder="Adresse">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="inputCP" name="postalCode" placeholder="Code postal">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="inputVille" name="city" placeholder="Ville">
                    </div>
                    <button type="submit" class="btn btn-info">Créer un projet</button>
                </form>

                <button type="button" class="btn btn-outline-warning">Vos projets</button>
            </section>
        </main>
		<div th:replace="fragments/footer.html :: footer"></div>
		<div th:replace="fragments/script.html :: script"></div>
    </body>
</html>