<!DOCTYPE html>
<html lang="FR">
    <div th:replace="fragments/head.html :: head"></div>
    <body>
        <div th:replace="fragments/header.html :: header"></div>
		<div th:replace="fragments/nav.html :: nav"></div>
		<main class="container">
			<h2>DIMENSIONS<span class="yellow-gf" th:text="${category.name}"></span></h2>
			<form th:action="@{/rooms}" method="POST">
				<input type="hidden" name="project" th:value="${project.id}">
				<input type="hidden" name="category" th:value="${category.id}">
                <div class="input-group mb-3">
					<div class="input-group-prepend read-project">
						<label class="input-group-text flex-centered" for="name">Nom</label>
					</div>
					<input
						type="text"
						class="form-control"
						name="name"
						th:value="${category.name} + ' - '"
                        required
					/>
				</div>
				<div class="input-group mb-3">
					<div class="input-group-prepend read-project">
						<label class="input-group-text flex-centered" for="walla">Mur A</label>
					</div>
					<input
						type="number"
						class="form-control"
						placeholder="... en cm"
						name="wallA"
                        required
					/>
				</div>
				<div class="input-group mb-3">
					<div class="input-group-prepend read-project">
						<label class="input-group-text flex-centered" for="wallb">Mur B</label>
					</div>
					<input
						type="number"
						class="form-control"
						placeholder="... en cm"
						name="wallB"
                        required
					/>
				</div>
                <div class="input-group mb-3">
					<div class="input-group-prepend read-project">
						<label class="input-group-text flex-centered" for="height">Hauteur</label>
					</div>
					<input
						type="number"
						class="form-control"
						placeholder="... en cm"
						name="height"
                        required
					/>
				</div>
				<div class="input-group mb-3">
					<div class="input-group-prepend read-project">
						<label class="input-group-text flex-centered" for="comment">Commentaire</label>
					</div>
					<textarea 
						class="form-control"
						placeholder="Entrez un commentaire ..."
						name="comment"
					></textarea>
				</div>
				
				<button type="submit" class="btn btn-info">Créer ma pièce</button>
			</form>
		</main>
		<div th:replace="fragments/footer.html :: footer"></div>
		<div th:replace="fragments/script.html :: script"></div>
	</body>
</html>
