<!DOCTYPE html>
<html lang="FR">
<div th:replace="fragments/head.html :: head"></div>
    <body>
        <div th:replace="fragments/header.html :: header"></div>
        <div th:replace="fragments/nav.html :: nav"></div>
        <main class="container">
            <h2 th:text="'Projet : ' + ${project.name}">Nom du projet</h2>
            <h3 class="yellow-gf" th:text="${room.name}">Nom de la pièce</h3>
            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th>MUR A</th>
                        <th>MUR B</th>
                        <th>Sol / Plafond</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td th:text="${room.wallA + ' cm'}">item</td>
                        <td th:text="${room.wallB + ' cm'}">item</td>
                        <td th:text="${room.height + ' cm'}">item</td>
                    </tr>
                    <tr>
                        <td th:text="${T(Math).round((room.wallA/100)*(room.height/100)*100.00)/100.00 + ' m²'}">
                            item
                        </td>
                        <td th:text="${T(Math).round((room.wallB/100)*(room.height/100)*100.00)/100.00 + ' m²'}">
                            item
                        </td>
                        <td th:text="${T(Math).round((room.wallB/100)*(room.wallA/100)*100.00)/100.00 + ' m²'}">
                            item
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="input-group mb-1">
                <div class="input-group-prepend read-project">
                    <span class="input-group-text flex-centered">
                        Commentaire
                    </span>
                </div>
                <div class="form-control" th:text="${room.comment}">
                    Commentaire
                </div>
            </div>
            <p>Prix total : <span class="yellow-gf" th:text="${room.lowerTotalCost + ' - ' + room.upperTotalCost + '€'}">Prix des travaux de la pièce</span></p>

            <form th:method="POST" th:action="@{/tasks/add}">
                <input type="hidden" name="room" th:value="${room.id}" />
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">
                            Typologie
                        </label>
                    </div>
                    <select 
                        class="custom-select" 
                        id="typology"
                        th:name="typology"
                        required
                    >
                        <option selected disabled>Sélectionnez...</option>
                        <option
                            th:each="typology : ${typologies}"
                            th:text="${typology.name}"
                            th:value="${typology.id}"
                        >
                            item
                        </option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="work">
                            Travaux
                        </label>
                    </div>
                    <select
                        class="custom-select"
                        id="work"
                        th:name="work"
                        disabled
                        required
                    >
                        <option selected disabled>Sélectionnez...</option>
                        <option
                            th:each="task : ${tasks}"
                            th:text="${task.work.name}"
                            th:value="${task.work.id}"
                            th:attr="filter=${task.typology.id}"
                            >item</option
                        >
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="material"
                            >Matériaux</label
                        >
                    </div>
                    <select
                        class="custom-select"
                        id="material"
                        th:name="material"
                        disabled
                        required
                    >
                        <option selected disabled>Sélectionnez...</option>
                        <option
                            th:each="task : ${tasks}"
                            th:text="${task.material.name}"
                            th:value="${task.material.id}"
                            th:attr="filter=${task.typology.id + ' ' + task.work.id}"
                            >item</option
                        >
                    </select>
                </div>
                <div class="input-group mb-3">
					<div class="input-group-prepend">
						<label class="input-group-text" for="quantity">Quantité / Surface</label>
					</div>
					<input
						type="number"
						class="form-control"
						name="quantity"
                        required
					/>
				</div>
                <button type="submit" class="btn btn-info">Ajouter</button>
            </form>
            <section class="section-list">
                <h3>Liste des travaux ajoutées :</h3>
                <ul class="list-group" th:each="quantity : ${quantities}">
                    <li 
                        class="list-group-item" 
                        th:text="${quantity.task.constructName() + ' - ' + quantity.quantity*quantity.task.price}"
                    >
                        Item
                    </li> 
                    <form
                        th:action="@{'/quantity'}"
                        th:method="DELETE"
                    >
                        <input
                            type="hidden"
                            th:value="${quantity.id}"
                            th:name="quantity"
                        />
                        <button
                            type="submit"
                            class="btn btn-info"
                        >
                            <ion-icon
                                ios="ios-close"
                                md="md-close"
                                class="icon-delete"
                            ></ion-icon>
                        </button>
                    </form>
                </ul>         
            </section>
        </main>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script th:src="@{/JS/filter_task.js}"></script>
        <div th:replace="fragments/footer.html :: footer"></div>
        <div th:replace="fragments/script.html :: script"></div>
    </body>
</html>