<!DOCTYPE html>
<html lang="FR">
	<div th:replace="fragments/head.html :: head"></div>
	<body>
		<div th:replace="fragments/header.html :: header"></div>
        <main class="container">
            <h2>Nom du projet<span class="yellow-gf">Nom de la pièce</span></h2>
            <table class="table table-striped table-light">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">MUR A</th>
                        <th scope="col">MUR B</th>
                        <th scope="col">Sol / Plafond</th>
                    </tr>
                </thead>
                <tbody class="thead-light">
                    <tr>
                        <td th:each="room : ${idCurrentRoom}" name="" th:text="${room.wallA + ' cm'}">item</td>
                        <td th:each="room : ${idCurrentRoom}" name="" th:text="${room.wallB + ' cm'}">item</td>
                        <td th:each="room : ${idCurrentRoom}" name="" th:text="${room.height + ' cm'}">item</td>
                    </tr>
                </tbody>
            </table>

            <form th:method="POST" th:action="@{/tasks/add}">
                <input type="hidden" name="room" th:value="${room.id}">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Typologie</label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect01">
                        <option selected>Sélectionnez...</option>
                        <option th:each="typologie : ${typologies}" th:text="${typologie.name}">item</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect02">Travaux</label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect02" name="workId">
                        <option selected>Sélectionnez...</option>
                        <option th:each="work : ${works}" th:text="${work.name}" th:value="${work.id}">item</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect03">Matériaux</label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect03" name="materialId" >
                        <option selected>Sélectionnez...</option>
                        <option th:each="material : ${materials}" th:text="${material.name}" th:value="${material.id}">item</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-info">Ajouter</button>
            </form>
            <section class="section-list">
                <h3>Liste des actions créées :</h3>
                <ul class="list-group" th:each="task : ${tasks}">
                    <li class="list-group-item" th:text="${task.constructName()}">Item</li>
                </ul>
            </section>
        </main>
		<div th:replace="fragments/footer.html :: footer"></div>
		<div th:replace="fragments/script.html :: script"></div>
    </body>
</html>